body {
    background-color: #F7F6F5;
}

/* Navbar */
.form-inline .input-group input {
    height: 45px;
    /* width: 687px; */
    width: 647px;
    border-radius: 15px;
    border: none;
    color: #36A870;
    /* margin-right: 30px; */
}

.input-group-text {
    border: none;
    background-color: white;
    border-radius: 15px;
}

input[type=search] {
    box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.25);
}

.input-group-text {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

.bg-trapesium {
    width: 280px;
    height: 60px;
    background-color: #36A870;
    border-radius: 20px 0 20px 0;
    transform: skew(-17deg);
    position: relative;
    margin: 0px 15px 0px 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

.icon {
    color: white;
    position: absolute;
    top: 15%;
    left: 8%;
    transform: skew(17deg);
}

.icon a {
    color: white !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon a:hover {
    padding-bottom: 4px;
    color: #e4e4e4;
    width: 5px;
    border-bottom: white solid 3px;
}

.bg-trapesium-right {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    transform: skew(-17deg);
    position: relative;
    background-color: #36A870;
    width: 280px;
    height: 60px;
    border-radius: 20px 0 20px 0;
    margin: 0px 25px 0px 25px;
}

.foto {
    position: absolute;
    top: 10%;
    left: 8%;
    transform: skew(17deg);
    color: white;
}

.foto img {
    border-radius: 50%;
    border: white solid 3px;
    margin-right: 15px;
}

/*  */
.containerr {
    padding: 0px 15px 0px 15px;
    margin: auto;
}

.all {
    height: 570px;
}

.body-card {
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.25);
}

.choose-plant,
.title,
.like {
    color: #638481;
}

.body-card {
    border-radius: 30px;
    background-color: white;
}

.body-detail-card {
    border-radius: 30px;
    height: 425px;
    background-color: white;
    width: 95%;
    margin: auto;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.25);
}

.body-detail-card-like {
    border-radius: 30px;
    background-color: white;
    width: 95%;
    margin-top: -5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    color: #638481;
}

.card-plant:not(:nth-child(2)) {
    margin-top: 28px;
}

.card-plant img {
    border-radius: 20px;
    background-color: #F7F6F5;
    margin-right: 16px;
    width: 116px;
    height: 116px;

}

.choose-plant .d-flex p,
.title .d-flex p,
.like {
    font-size: 20px;
    font-weight: 500;
}

.like {
    margin-left: 5px;
}

.card-like {
    margin-top: -10px;
}

.text h4 {
    font-size: 20px;
    line-height: 15px;
}

.text h6 {
    font-size: 15px;
}

.text {
    font-weight: 600;
    font-size: 16px;
}


.isi img {
    width: 100%;
    /* margin-bottom: 80px; */
}

i.bi.bi-bookmark-fill {
    /* menempatkan elemen pada posisi paling kanan */
    float: right;
    margin-left: auto;
    position: relative;
    color: #B1B1B1;
    font-size: 30px;
}

/* Ul,
li {
    list-style: none;
    margin-left: 0px;
    padding: 0;
}*/

.btn-warning {
    font-weight: 500;
    font-size: 16px;
    color: white;
    border-radius: 50px;
}

.body-detail-card {
    color: #638482;
}

.body-detail-card h4 {
    clear: both;
}

.plus-minus {
    padding: 0 10px 0 10px;
    background-color: #F7F6F5;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
}

.plus-minus:hover {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text"] {
    /* menghilangkan style default */
    width: 40px;
    text-align: center;
    border: none;
    font-size: 20px;
}

/* bookmark */
.detail-isi-produk .div i:hover {
    cursor: pointer;
    color: #fad400;
}

.warna-kuning {
    color: #fad400 !important;
}

.jenis {
    margin-top: 10px;
    font-size: 18px;
    border-bottom: 1px solid #e2e2e2;
}

.jenis a {
    font-weight: bold;
}

.jenis a:hover {
    color: #36A870;
}

.list-tanaman-hias,
.list-tanaman-lain,
.list-perlengkapan,
.list-makanan {
    border-radius: 10px;
    margin-left: 20px;
    /* width: 80%; */
    background-color: #e4e4e4;
    padding: 5px;
}

/* Menghilangkan indentasi pada elemen ul */
ul,
li {
    /* margin-left: 10px; */
    margin: 0px 0px 0px 10px;
    padding: 0;
    list-style: none;
}

.bi-list:hover {
    cursor: pointer;
}


.col-3 .body-card-right {
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.25);
}

.borderr {
    border-bottom: white solid 3px;
    cursor: pointer;
}

.dropdown-menuu {
    background-color: #FFFFFF;
    border-radius: 11px;
    top: 40px;
    right: 0px;
    padding: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #638481;
    font-weight: 500;
}

.dropdown-menuu a:hover {
    color: black;
}

.bi-caret-down-fill:hover {
    cursor: pointer;
}